<div class="row top-section-container">
    <div class="col-md-6">
      <h2> Contacts List </h2>
    </div>
    <div class="col-md-6 top-button-container" style="padding-top: 12px;padding-bottom: 12px;">
      <button type="button" class="btn btn-success float-right" (click)="goToCreateOrEdit()">
        Create
      </button>
    </div>
  </div>
  
  <div class="row table-container">
  
    <div class="col-md-12">
      <table class="table table-hover table-sm">
        <thead>
          <th>First Name</th>
          <th>Lasy Name</th>
          <th>Company</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let contact of model">
            <td>
              {{contact.firstName}}
            </td>
            <td>
              {{contact.lastName}}
            </td>
            <td>
              {{contact.company}}
            </td>
            <td>
              {{contact.email}}
            </td>
            <td>
              {{ contact.phoneNumber }}
            </td>
            <td>
              <button class="btn btn-primary btn-sm text-center ml-2" (click)="goToCreateOrEdit(contact.id)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-sm ml-2" (click)="deleteContact(contact.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>